.App {
  //background-color: #FFFFFF;
  width: 100vw;
  min-height: 100vh;

  //display: flex;
  //justify-content: center;
  //align-items: center;

  padding: 40px;
}

.envelope {
  width: 358px;
  height: 221px;
  border-radius: 70px;
  position: absolute;

  background-color: #FFFFFF;
  box-shadow: inset 0px -14px 14px rgba(0, 0, 0, 0.25);

  overflow: hidden;

}

.ig {
  position: relative;
}

.tape__left {
  //background-color: #282c34;
  background: linear-gradient(rgba(162, 162, 162, 1), rgba(162, 162, 162, 0));

  height: 168px;
  width: 22px;

  position: absolute;
  bottom: -10px;
  left: 33px;

  transform: rotate(25deg);
}

.tape__right {
  //background-color: #282c34;
  background: linear-gradient(rgba(162, 162, 162, 1), rgba(162, 162, 162, 0));

  height: 168px;
  width: 22px;

  position: absolute;
  bottom: -10px;
  right: 33px;

  transform: rotate(-25deg);
}

.logo {
  position: absolute;

  top: 62px;
  left: 144px;
  z-index: 5;
}

.tape__left__top {
  position: absolute;

  //background-color: #282c34;
  background: linear-gradient(90deg, rgba(97, 121, 248, 1), rgba(150, 155, 177, 1), rgba(162, 162, 162, 0.34));


  top: 46px;

  left: 0;
  height: 22px;
  width: 188px;
  //border-radius: 11px;

  transform: rotate(25deg);

}

.tape__right__top {
  position: absolute;
  //background-color: #282c34;
  background: linear-gradient(-90deg, rgba(97, 121, 248, 1), rgba(150, 155, 177, 1), rgba(162, 162, 162, 0.34));


  top: 46px;
  right: 0;
  height: 22px;
  width: 188px;

  //border-radius: 11px;


  transform: rotate(-25deg);
}




.mail {
  position: relative;
  width: 358px;
  height: 221px;
  background-color: #ffffff;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -14px 14px rgba(0, 0, 0, 0.25);
}

.lentaLeft {
  position: absolute;
  width: 21px;
  height: 160px;
  background-color: #282c34;
  transform: rotate(25deg);
  bottom: -7px;
  left: 32px;
}

.lentaRight {
  position: absolute;
  width: 21px;
  height: 160px;
  background-color: #282c34;
  transform: rotate(-25deg);
  bottom: -7px;
  right: 32px;
  //animation: dash 5s linear forwards;
  //animation-delay: 2s;
}

.lentaLeftTop {
  position: absolute;
  background-color: #282c34;
  height: 21px;
  width: 190px;
  top: 50px;
  left: 0;
  transform: rotate(25deg);
  border-radius: 10px;
}

.lentaRightTop {
  position: absolute;
  background-color: #282c34;
  height: 21px;
  width: 190px;
  top: 50px;
  right: 0;
  transform: rotate(-25deg);
  border-radius: 10px;

}

//
//@keyframes dash {
//  0% {
//    transform: rotate(-25deg);
//    opacity: 1;
//  }
//  50% {
//    transform: rotate(0deg);
//    right: 80px;
//    height: 180px;
//    opacity: 1;
//  }
//  100% {
//    transform: rotate(0deg);
//    right: 0;
//    height: 180px;
//    opacity: 0;
//  }
//}

.plug {
  position: absolute;
  bottom: 100px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: aquamarine;
  //animation: plug 1s linear forwards;
  //animation-delay: 1s;
}

//@keyframes plug {
//  0% {
//    bottom: 85px;
//
//  }
//  100% {
//    bottom: 63px;
//  }
//}

.wave {
  position: absolute;
  z-index: 100;

  top: 62px;
  left: 144px;
}


.dragArea {
  background: white;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.box {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  //top: calc(50% - 150px / 2);
  //left: calc(50% - 150px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
